#banner_image{
    height : 800px;
    padding-top: 75px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(https://goo.gl/GZ44oC) no-repeat center;
    background-size: cover;
}

#banner_content{
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    margin-top: 20%;
    margin-bottom: 12%;
    margin-left: 20%;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 660px;
    height: 300px;
}

.shopnow{
  margin-top: 60px;   
}

.contentpara{
    font-family: Georgia;
    font-size : 30px;
}

footer{
    padding: 10px 0;
    background-color: #101010;
    color:#9d9d9d;
    bottom: 0;
    width: 100%;
}